/* Primeiro formularo */

body{
    padding-bottom: 500px;
}

div{
    margin-top: 15px;
}

div input, div label{
    display: block;
}

/* input radio */
.radio label, .radio input, .radio span{
    display: inline-block;
}